name: Deploy webapp

#Triggers (uncomment line below to use it)
on: [workflow_dispatch]

#Environment variables https://docs.github.com/en/actions/learn-github-actions/environment-variables
env:
  RESOURCE-GROUP: az2006-rg
  LOCATION: westeurope
  TEMPLATE-FILE: infra/webapp.bicep
  SUBSCRIPTION-ID: 91ffa423-7876-4c8c-a374-7c3afeee4425
  WEBAPP-NAME: az-2006-pg
  LOADTEST-NAME: az-2006-loadtest
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      #checkout the repository
      - uses: actions/checkout@v5
      # Azure Login with secret
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      # Deploy Azure WebApp using Bicep file
      - name: deploy webapp
        uses: azure/arm-deploy@v2
        with:
          subscriptionId: ${{ env.SUBSCRIPTION-ID }}
          resourceGroupName: ${{ env.RESOURCE-GROUP }}
          template: bicep-template/webapp.bicep
          parameters: "webAppName=${{ env.WEBAPP-NAME }} location=${{ env.LOCATION }}"
          failOnStdErr: false
      # Deploy Azure Loadtest using Bicep file
      - name: deploy loadtest
        uses: azure/arm-deploy@v2
        with:
          subscriptionId: ${{ env.SUBSCRIPTION-ID }}
          resourceGroupName: ${{ env.RESOURCE-GROUP }}
          template: bicep-template/loadtest.bicep
          parameters: "loadTestName=${{ env.LOADTEST-NAME }} location=${{ env.LOCATION }}"
          failOnStdErr: false
