name: Deploy To Production
on:
  workflow_dispatch:
env:
  AZURE_WEBAPP_NAME: AppService157937836  # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: "." # set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: "8.0.x" # set this to the dot net version to use
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repo
      - uses: actions/checkout@main

      # Run dotnet build and publish
      - name: dotnet build and publish
        run: |
          dotnet restore FruitAPI/FruitAPI.csproj
          dotnet build FruitAPI/FruitAPI.csproj --configuration Release
          dotnet publish FruitAPI/FruitAPI.csproj -c Release --output ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/fruitapi

      - name: "Login via Azure CLI"
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Setup .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      # Deploy to Azure Web apps
      - name: "Run Azure webapp deploy action using publish profile credentials"
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }} # Replace with your app name
          package: "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/fruitapi"
          slot-name: production1
